/*
========================================================================================
    conf/slurm.config
    SLURM executor settings — activate with:  -profile slurm
    Adjust partition names and account to match your HPC cluster.
========================================================================================
*/

process {
    executor       = 'slurm'
    queue          = '24'
    clusterOptions = '--account=wibrusers'

    withName: 'STAR_ALIGN' {
        queue  = '24'
        memory = { (params.star_ram as int).GB * task.attempt }
    }

    withName: 'FEATURECOUNTS' {
        queue = '24'
    }

    withName: 'DESEQ2' {
        queue = '24'
    }
}

executor {
    name            = 'slurm'
    queueSize       = 100
    submitRateLimit = '10/1min'
    pollInterval    = '30 sec'
    exitReadTimeout = '10 min'
}
